<h1>LTI - Configuration</h1>

<%= link_to(new_assignment_path(cid: 1)) do %>
    <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'plus-circle' %> Create Assignment</button>
<% end %>